layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
  tab name="Terminal" focus=true {
    pane split_direction="vertical" {
      pane split_direction="horizontal" {
        pane command="lazygit" name="LAZYGIT"
        pane size="20%" name="TERMINAL"
      }
      pane size="35%" split_direction="horizontal" {
        pane command="htop"
        pane command="yarn" name="INSTALL" start_suspended=true
        pane command="yarn" name="BUILD" start_suspended=true {
          args "build"
        }
      }
    }
  }
  tab name="Web" {
    pane split_direction="horizontal" {
      pane edit="./apps/web" name="WEB"
      pane size="20%" split_direction="vertical" {
        pane command="yarn" name="RUN DEV" start_suspended=true {
          args "dev:app"
        }
      }
    }
  }
  tab name="Core" {
    pane split_direction="horizontal" {
      pane edit="./packages/core" name="CORE"
      pane size="20%" split_direction="vertical" {
        pane command="yarn" name="RUN DEV" start_suspended=true {
          args "dev:core"
        }
      }
    }
  }
  tab name="Slack" {
    pane split_direction="horizontal" {
      pane edit="./apps/slack" name="SLACK"
      pane size="20%" split_direction="vertical" {
        pane command="yarn" name="RUN DEV" start_suspended=true {
          args "dev:slack"
        }
      }
    }
  }
}
